syntax:glob
.DS_Store
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Debug/
Release/
PinkTopaz.build/
PinkTopaz.xcodeproj/
PinkTopazTests.xctest/
cmake_install.cmake
CTestTestfile.cmake
Testing/
*.metallib
bin/
lib/
conanbuildinfo.cmake
conanfile.txt
conaninfo.txt
src/pinktopaz_config.h
.vs/
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
ALL_BUILD.vcxproj.user
PinkTopaz.VC.VC.opendb
PinkTopaz.VC.db
PinkTopaz.sln
PinkTopaz.vcxproj
PinkTopaz.vcxproj.filters
PinkTopaz.vcxproj.user
PinkTopazTest.vcxproj
PinkTopazTest.vcxproj.filters
RUN_TESTS.vcxproj
RUN_TESTS.vcxproj.filters
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters

